.body,
.body * {
  box-sizing: border-box;
}

.body {
  background: #ffffff;
  margin : 0px;
  position: relative;
  overflow: hidden;
}
.login-area {
  background: #f94f4f;
  width: 32.438rem;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
}*
.login-area {
  .logo {
    width: 158px;
    height: 158px;
    position: absolute;
    right: 11.3rem;
    top: 20px;
  }
  .thapar-health-care {
    color: #ffffff;
    text-align: center;
    position: absolute;
    left : 2rem;
    top: 7.625rem;
    width: 447px;
    height: auto;
  }
  .thapar-health-care h1 {
    font: 800 110px "Be Vietnam", sans-serif;
    text-align : canter;
    margin : 0px;
  }
  .thapar-health-care h2 {
    text-align : center;
    margin : 4px;
    font: 300 46px "Be Vietnam", sans-serif;
  }
  .user-login {
    background: #ffffff;
    border-radius: 20px;
    width: 406px;
    height: 320px;
    position: relative;
    left: 35px;
    top: 10px;
  }
  .user-login h1 {
    color: #000000;
    text-align: center;
    font: 600 36px "Inter", sans-serif;
    position: absolute;
    left: 45px;
    top: 20px;
    width: 314px;
    height: 70px;
  }
  .user-login form {
    position : relative;
    top : 60px;
  }
  .user-login input {
    text-align: center;
    border-radius: 30px;
    width: 352px;
    height: 60px;
    box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.25);
    border : 0px;
    color: #777777;
    font: 400 21px "Inter", sans-serif;
    background: #ececec;
    margin : 10px 0px;
  }
  .user-login input[type=submit] {
    background-color: #F94F4F;
    color: #ffffff;
    font: 700 25px "Inter", sans-serif;
    margin : 20px 0px;
  }
  .login-extra {
    width: 406px;
    height: auto;
    position: relative;
    left: 35px;
    top: 30px;
    bottom: 40px;;
  }
  .forgot-password {
    color: #ffffff;
    text-align: center;
    font: 600 15px/139.52% "Inter", sans-serif;
    font-style: italic;
    position: absolute;
    left: 40px;
    top: 0px;
    width: 100px;
    bottom: 40px;
    height: auto;
  }
  .new-user {
    color: #ffffff;
    text-align: center;
    font: 600 15px/139.52% "Inter", sans-serif;
    font-style: italic;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 110px;
    height: auto;
  }
  
}
.signup-area {
  background: #f94f4f;
  width: 32.438rem;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.signup-area {
  .logo {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 11.6rem;
    top: 10px;
  }
  .thapar-health-care {
    color: #ffffff;
    text-align: center;
    position: absolute;
    left : 2rem;
    top: 5rem;
    width: 447px;
    height: 400px;
  }
  .thapar-health-care h1 {
    font: 800 100px "Be Vietnam", sans-serif;
    text-align : center;
    margin : 0px;
  }
  .thapar-health-care h2 {
    text-align : center;
    margin : 4px;
    font: 300 40px "Be Vietnam", sans-serif;
  }
  .user-signup {
    background: #ffffff;
    border-radius: 20px;
    width: 406px;
    height: 450px;
    position: relative;
    left: 35px;
    top: 20px;
  }
  
  .user-signup form {
    position : relative;
    top : 10px;
  }
  .user-signup input[type=submit] {
    background-color: #F94F4F;
    color: #ffffff; 
    font: 700 25px "Inter", sans-serif;
    margin : 18px 0px;
  }
  .user-signup input[type=submit]:hover {
    transform: scale(1.04);
  }
  .user-signup input {
    text-align: center;
    border-radius: 30px;
    font: 400 21px "Inter", sans-serif;
    color: #777777;
    background: #ececec;
    width: 352px;
    height: 50px;
    margin : 8px 0px;
    box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.25);
    border : 0px;
  }
  
}